.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.lsTitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.listResult {
    flex: 3;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem > label {
    font-size: 12px;
}

.lsItem > input {
    height: 30px;
    border: none;
    padding: 5px;
}

.lsItemOption {
    display: flex;
    flex-direction: row;
    color: #555;
    font-size: 14px;
}

.lsItemOption > input {
    flex: 1;
    width: 30px;
    margin-bottom: 10px;
    height: 20px;
}

.lsItemOption > label {
    flex: 3;
    margin-left: 20px;
    font-size: 12px;
}

.search {
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    background-color: #0369B0;
    width: 100%;
    padding: 10px;
    color: white;
}